.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #3E4A46;
    color: #F9FAF7;
    position: sticky;
    top: 0;
    z-index: 100;
}

.company-name {
    cursor: pointer;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    flex: 1;
    color: #F9FAF7;
}

.nav-buttons{
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.nav-button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    color: #F9FAF7;
}

.nav-button h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}

.nav-button:hover {
    background-color: #4A5854;
}

.nav-button.active {
    background-color: #7FAF9B;
}

.auth-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.auth-button {
    padding: 0.6rem 1.5rem;
    background-color: #D6A184;
    color: #3E4A46;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 36px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #C89470;
}